.iframe-div {
    position: relative;
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
}
.iframe-fit {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content {overflow: visible !important; }

.menu-heading-item {
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: bold;
}

.menu-item {
    color: #FFFFFF;
    font-size: 1.15em;

}

.menu-add-item {
    color: #3c763d;
    font-size: 1.1em;

}

.menu-remove-item {
    color: #a94442;
    font-size: 1.1em;

}

.menu-register-item {
    color: #3c763d;
    font-size: 1.1em;

}

.menu-unregister-item {
    color: #a94442;
    font-size: 1.1em;

}

.menu-share-item {
    color: #a94442;
    font-size: 1.1em;

}

.horizontal-slider {
    width: 100%;
    height: 40px;
    border: 0px;
}

.example-thumb {
    font-size: 0.9em;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 5px solid gray;
    box-sizing: border-box;
}

.example-thumb.active {
    background-color: grey;
}

.example-track {
    position: relative;
    background: #ddd;
    height: 10px;
    margin-top: 10px;
}
